[submodule "src/cpp/lib/cpdsa"]
	path = src/cpp/lib/cpdsa
	url = https://github.com/t-p-r/cpdsa
[submodule "src/cpp/lib/testlib-asimon"]
	path = src/cpp/lib/testlib-asimon
	url = https://github.com/t-p-r/testlib-asimon
